<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://www.xiaozhu.com/favicon.ico?v=20190820" type="image/vnd.microsoft.icon">
    <link rel="icon" href="https://www.xiaozhu.com/favicon.ico?v=20190820" type="image/vnd.microsoft.icon">
    <title>发布您的房间</title>
    <link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e20200803/xzcss?css=base,header,footer,publishRoomV2,photoScroll,jquery-ui,nyroModal,mysite" />
</head>
<body>
<div class="header height56">
    <div class="top"></div>
    <link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e20200803/xzcss?css=houseHover,realNamePop,jquery-ui,nyroModal" />
    <div class="o_mask" id='maskName'  style="display:none;"></div>
    <div class="detail_wrapper">
        <div class="detail_head clearfix">
            <a href="https://www.xiaozhu.com" class="xz_logo_detail">小猪</a><span class="slogan_v2 slogan_black"></span>
            <ul class="nav_R nav_commen">
                <input type="hidden" value="landlord" id="userCurrentRole"/>
                <input type="hidden" value="144260581897" id="loginUserId"/>
                <li class="current">
                    <a href="#ongo" class="openTri_R" rel="nofollow">aaaa</a>
                    <div class="head_pop top40">
                        <div class="pop_column">
                            <a class="pop_T" href="https://www.xiaozhu.com/xzweb.php?op=FangDong_Index">房东中心</a>
                            <span>
                            <a class="fl" href="https://www.xiaozhu.com/xz_web2/order/pages/landlord/orderList.html">订单管理</a>
                            <a class="fr" href="https://www.xiaozhu.com/xzweb.php?op=FangDong_SettlementInfo">结算统计</a>
                        </span>
                            <span>
                            <a class="fr" href="https://www.xiaozhu.com/xzweb.php?op=FangDong_Comment&filterType=waitComment&fkCmtFilter=all">我的点评</a>
                        </span>
                            <span>
                            <a class="fr" href="https://www.xiaozhu.com/xzweb.php?op=FangDong_UserInfo">个人资料</a>
                        </span>
                        </div>
                        <div class="pop_column">
                            <a class="pop_T pop_bor" href="https://www.xiaozhu.com/xzweb.php?op=FangKe_Index">房客中心</a>
                            <span>
                            <a class="fl" href="https://www.xiaozhu.com/xz_web2/order/pages/lodger/list.html">我的订单</a>
                        </span>
                            <span>
                            <a class="fl" href="https://www.xiaozhu.com/xzweb.php?op=FangKe_Comment">我的点评</a>
                            <a class="fr" href="https://www.xiaozhu.com/xzweb.php?op=FangKe_UserInfo">个人资料</a>
                        </span>
                            <span class="textCt"><a href="https://www.xiaozhu.com/logout" id="IM-Logout">退出</a></span>
                        </div>
                    </div>
                </li>
                <li class="current">
                    <a href="#ongo" class="openTri_R">短租指南</a>
                    <div class="head_pop width_58 top40">
                        <div class="pop_column">
                            <span><a class="fl" href="https://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=tenant">房客指南</a><a class="fr" href="https://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=landlord">房东指南</a></span>
                        </div>
                    </div>
                </li>

                <li>
                    <a rel="nofollow" data-href="https://www.xiaozhu.com/publish" class="btn_free" id = "Pub_Btn">免费发布房源
                    </a>
                </li>
            </ul>
        </div>

        <div id="regSuccessDialog" class="reg_success_box login_register_box" style="display:none;">
            <div class="">
                <div class="r_colsed_1" id="closeRegSuccDialogBtn"><span></span></div>
                <div id="regSuccInfo">
                </div>
            </div>
        </div><div>        </div>

<div class='h_top_box'>
    <div class="h_step_box">
        <ul class="clearfix">
        </ul>
        <div class="h_step_cur h_pos1">
            <span class="h_step1_cur"></span>
            <p>房源信息</p>
        </div>
        <div class="h_step h_pos2">
            <span class="h_step2"></span>
            <p>房源描述</p>
        </div>
        <div class="h_step h_pos3">
            <span class="h_step3"></span>
            <p>配套设施</p>
        </div>
        <div class="h_step h_pos4">
            <span class="h_step4"></span>
            <p>真实照片</p>
        </div>
        <div class="h_step h_pos5">
            <span class="h_step5"></span>
            <p>价格规则</p>
        </div>
    </div>
</div>
<div class="h_wrap mt20">
    <h4 class="h_tit">房源地址</h4>
    <div class="address_box" >
        <div class="clearfix">
            <div class="address_text">房源位于：</div>
            <div class="address_list">
                <ul id="address_ul">
                    <li class="clearfix " key="144559708096"  data-lock="0" data-nationid="0">
                        <span class=" "></span>
                        <div class="select_text" title="">
                            <div>
                                <i></i>
                            </div>
                        </div>
                    </li>
                </ul>

                <p class="open_all" key="open" style="display:none">显示全部地址<span></span></p>
                <div class="address_btm clearfix">
                    <a href="#ongo" class="add_btn fl" id="add_site"><span></span>位于新地址</a>
                    <input type="hidden"  id="address"  value="0"></input>
                    <p class="h_check_tip simsun mt2" id="tip_address" style="display:none">请您填写房源地址</p>
                </div>
            </div>
        </div>
    </div>
    <div class="no_address clearfix"  style="display:none;">
        <p class="no_address_text">暂无地址</p>
        <div class="new_address clearfix">
            <a class="add_btn fl" href="#ongo" id="add_new_site"><span></span>位于新地址</a>
            <input type="hidden"  id="add_address"  value=""></input>
            <p class="h_check_tip simsun mt2 " id="tip_add_address" style="display:none">请您填写房源地址</p>
        </div>
    </div>
    <input type="hidden" name="address_id" id="address_id"  value="0"></input>
    <input type="hidden" name="address_nation" id="address_nation"  value=""></input>
    <input type="hidden" name="address_province" id="address_province"  value=""></input>
    <input type="hidden" name="address_city" id="address_city"  value=""></input>
    <input type="hidden" name="address_district" id="address_district"  value=""></input>
    <input type="hidden" name="address_street" id="address_street"  value=""></input>
    <input type="hidden" name="address_address" id="address_address"  value=""></input>
    <input type="hidden" name="address_lnglat" id="address_lnglat"  value=""></input>
    <input type="hidden" name="address_doorNumber" id="address_doorNumber"  value=""></input>
    <input type="hidden" name="ori_address_id" id="ori_address_id"  value="0"></input>
    <input type="hidden" name="ori_nationid" id="ori_nationid"  value=""></input>
</div>            <div class="h_wrap mt20">




    <h4 class="h_tit">房源基本情况</h4>
    <div  class="h_house_info">
        <ul>
            <li class="clearfix pb15" >
                <label class="type w_103" style="width: 100px;color:#000;">房屋类型：</label>
                <div class="h_input_box house_type" id="houseType" style="width: 120px;">
                    <div class="s_arrow_top s_arrow_down cursorPointer"></div>
                    <input type="text" class="roomtype tantnum_box cursorPointer" id="houseTypeText" style="width: 106px;" data="" value="" readonly/>
                    <p class="no_select_tip tip_house_type" id="tipHouseType" style="display: none"></p>
                    <ul class="select_list_box"  style="z-index: 99;">
                    </ul>
                </div>
            </li>
            <li class="clearfix pb15" >
                <label class="type w_103" style="width: 100px;color:#000;">出租类型：</label>
                <div class="h_house_r pr">
                    <ul class="h_house_type">
                        <li style="margin: 10px 0;" class="leasetype_red_err " id="whole_red_err" key="whole" >
                            <span class="select_leasetype "></span>
                            <!--<span class="set " style="background: url(./images/pubsysV2/pot_gray_06.png) no-repeat center"></span><p style="font-weight: bold;">整套出租</p>-->
                            <span style="background: url(./images/pubsysV2/house_type_03.png) no-repeat center;height: 21px;width: 24px;margin-left: 15px;margin-bottom: 5px;"></span>
                            <p style="display: inline-block;margin-left: 15px;font-size: 12px;color: #757575;">
                                <span style="display: block;font-size: 14px;font-weight: bold;color: #212121;">整套出租</span>
                                房客独享整套房屋
                            </p>
                        </li>
                        <li style="margin: 10px 0;" class="leasetype_red_err " id="part_red_err" key="room" >
                            <span class="select_leasetype "></span>
                            <!--<span class="alone_room "  ></span><p style="font-weight: bold;">独立单间</p>-->
                            <span style="background: url(./images/pubsysV2/house_type_10.png) no-repeat center;height: 21px;width: 24px;margin-left: 15px;margin-bottom: 5px;"></span>
                            <p style="display: inline-block;margin-left: 15px;font-size: 12px;color: #757575;">
                                <span style="display: block;font-size: 14px;font-weight: bold;color: #212121;">独立单间</span>
                                房客拥有一个独立的房间，但部分空间与他人分享
                            </p>
                        </li>
                        <li style="margin: 10px 0;" class="leasetype_red_err " id="sharedRoom_red_err" key="sharedroom"  >
                            <span class="select_leasetype "></span>
                            <!--<span class="sharedRoom "></span><p style="font-weight: bold;">合住房间</p>-->
                            <span style="background: url(./images/pubsysV2/house_type_14.png) no-repeat center;height: 21px;width: 24px;margin-left: 15px;margin-bottom: 5px;"></span>
                            <p style="display: inline-block;margin-left: 15px;font-size: 12px;color: #757575;">
                                <span style="display: block;font-size: 14px;font-weight: bold;color: #212121;">合住房间</span>
                                房客与他人共住一个房间，没有独立的卧室（如：床位、沙发等）
                            </p>
                        </li>
                    </ul>
                    <input type="hidden"  id="leasetype"  value=""></input>
                    <p class="no_select_tip simsun" id="tip_leasetype" style="display:none">请选择出租类型</p>
                </div>
            </li>
            <li class="clearfix pb15">
                <label class="type1 w_103" style="color:#000;">房屋户型：</label>
                <span id="roomTypeDesc" style="line-height: 40px;font-size:12px;color:#757575">
	                                        </span>
                <div class="h_house_r clearfix" style="margin-left: 103px;">
                    <div class="h_input_box " id="room_shi_err" style="width: 120px;">
                        <div class="s_arrow_top s_arrow_down cursorPointer"></div>
                        <input type="text" class="roomtype tantnum_box cursorPointer" style="width: 106px;"  style="color: #c2cacd;" name ="roomtype_shi" id="roomtype_shi" value="请选择" readonly/>
                        <ul class="select_list_box tantnum_box" id="roomtype_shi_num" style="display: none;z-index: 99;">
                            <li key ="1" class="tantnum_box">1</li>

                        </ul>
                    </div>
                    <span class="" style="position: relative;float: left;display: block;height: 38px;line-height: 38px;margin-right: 5px;">室</span>

                    <div class="h_input_box  " id="room_ting_err" style="width: 120px;">
                        <div class="s_arrow_top s_arrow_down cursorPointer"></div>
                        <input type="text" class="roomtype tantnum_box cursorPointer" style="width: 106px;"  style="color: #c2cacd;" name="roomtype_ting" id="roomtype_ting" value="请选择" readonly/>
                        <ul class="select_list_box tantnum_box" id="roomtype_ting_num" style="display: none;">
                            <li key ="0" class="tantnum_box">0</li>
                            <li key ="1" class="tantnum_box">1</li>

                        </ul>
                    </div>

                    <span class="" style="position: relative;float: left;display: block;height: 38px;line-height: 38px;margin-right: 5px;">厅</span>
                    <div class="h_input_box  " id="room_wei_err" style="width: 120px;">
                        <div class="s_arrow_top s_arrow_down cursorPointer"></div>
                        <input type="text" class="roomtype tantnum_box cursorPointer" style="width: 106px;"  style="color: #c2cacd;" name="roomtype_wei" id="roomtype_wei" value="请选择" readonly/>
                        <ul class="select_list_box tantnum_box" id="roomtype_wei_num" style="display: none;">
                            <li key ="0" class="tantnum_box">0</li>
                            <li key ="1" class="tantnum_box">1</li>

                        </ul>
                    </div>

                    <span class="" style="position: relative;float: left;display: block;height: 38px;line-height: 38px;margin-right: 5px;">卫</span>
                    <div class="h_input_box  " id="room_chu_err" style="width: 120px;">
                        <div class="s_arrow_top s_arrow_down cursorPointer"></div>
                        <input type="text" class="roomtype tantnum_box cursorPointer" style="width: 106px;"  style="color: #c2cacd;" name="roomtype_chu" id="roomtype_chu" value="请选择" readonly/>
                        <ul class="select_list_box tantnum_box" id="roomtype_chu_num" style="display: none;">
                            <li key ="0" class="tantnum_box">0</li>
                            <li key ="1" class="tantnum_box">1</li>
                        </ul>
                    </div>

                    <span class="" style="position: relative;float: left;display: block;height: 38px;line-height: 38px;margin-right: 5px;">厨</span>
                    <div class="h_input_box  " id="room_yt_err" style="width: 120px;">
                        <div class="s_arrow_top s_arrow_down cursorPointer"></div>
                        <input type="text" class="roomtype tantnum_box cursorPointer" style="width: 106px;"  style="color: #c2cacd;" name="roomtype_yt" id="roomtype_yt" value="请选择" readonly/>
                        <ul class="select_list_box tantnum_box" id="roomtype_yt_num" style="display: none;">
                            <li key ="0" class="tantnum_box">0</li>
                            <li key ="1" class="tantnum_box">1</li>
                        </ul>
                    </div>

                    <span class="" style="position: relative;float: left;display: block;height: 38px;line-height: 38px;margin-right: 5px;">阳台</span>
                    <p class="h_check_tip ml10 simsun" id="tip_roomtype" style="display:none">请完善房屋户型</p>
                    <p class="h_check_tip ml10 simsun" id="tip_roomtype_zero" style="display:none"></p>
                </div>
            </li>
            <!--
            <li class="pb15" style="display:none" id="pleaseNum">
                <p class="h_num_tip">请填写整套房屋的户型（如果没有请填写0）</p>
            </li>
            -->

            <li class="clearfix pb15" id="luToilet" >
                <label class="type1 w_103" style="color:#000;">卫生间类型：</label>
                <div class="h_house_r clearfix " id="toilet">
                    <ul class="h_toliet_type">
                        <li style="margin: 10px 0;" class="leasetype_red_err  " value="2">
                            <span class="select_leasetype "></span>
                            <p style="display: inline-block;margin-left: 15px;font-size: 12px;color: #757575;">
                                <span style="display: block;font-size: 14px;font-weight: bold;color: #212121;">独立卫生间</span>
                                房客独享的卫生间
                            </p>
                        </li>
                        <li style="margin: 10px 0;" class="leasetype_red_err  " value="1">
                            <span class="select_leasetype "></span>
                            <p style="display: inline-block;margin-left: 15px;font-size: 12px;color: #757575;">
                                <span style="display: block;font-size: 14px;font-weight: bold;color: #212121;">共用卫生间</span>
                                可能与他人分享的卫生间
                            </p>
                        </li>
                    </ul>
                    <input type="hidden"  id="toilettype" key="y" value=""></input>
                    <p class="h_check_tip simsun" id="tip_toilettype"  style="display:none">请选择卫生间类型</p>
                </div>
            </li>

            <li class="clearfix pb15">
                <label class="type1 w_103" style="color:#000;">宜居人数：</label>
                <span style="line-height: 40px;font-size:12px;color:#757575">请填写<span style="color:#ff4081;">最适宜居住的人数</span>
                    <p id="tantnumDesc" style="margin-left: 103px;font-size:12px;color:#757575"></p>
                </span>
                <div class="h_house_r" style="margin-left: 103px;margin-top: 10px;">
                    <div class=" select_box fl mr10 tantnum_box" id="select_red_err">
                        <div class="s_arrow_top s_arrow_down tantnum_box"></div>
                        <input type="text" class="tantnum_box h_col_gray" id="tantnum" name="tantnum" key='' value="请选择" readonly/>
                        <ul class="select_list_box tantnum_box" id="tantnum_select" style="display:none">
                            <li value="1" class="tantnum_box">1</li>
                        </ul>
                    </div>
                    <span class="bedDetailInfo">人</span>
                    <p class="h_check_tip ml10 simsun" id="tip_tantnum" value="" style="display:none">请选择宜居人数</p>
                </div>
            </li>
            <!--<li class="clearfix pb15" id="luRoomNum" >-->
        </ul>
    </div>
</div>

<div class="w_960 pb15 clearfix">
    <a class="keep_btn" href="#ongo" id="saveSub">保存并继续</a>
</div>

<!-- <div id="requestDeleteReasonsDiv" class="requestDeleteReasons" style="display: none;" lodgeunitOnline="">
    <div class="requestDeleteReasonsTitle">删除房源</div>
        <div class="ReasonsListTitle">请选择想要删除房源的原因：</div>
    <ul class="optionSelected">
        <li id="lodgeunitInputerror">
            <span class="select_leasetype"></span>
            <span>房源信息填写有误</span>
        </li>
        <li id="lodgeunitwait">
            <span class="select_leasetype "></span>
            <span>接下来一段时间没有办法接待</span>
        </li>
        <li id="lodgeunitWorkMuch">
            <span class="select_leasetype "></span>
            <span>做房东工作量太大</span>
        </li>
        <li id="lodgeunitGetless">
            <span class="select_leasetype "></span>
            <span>做房东赚得不够多</span>
        </li>
        <li id="lodgeunitNoHappy">
            <span class="select_leasetype "></span>
            <span>不愉快的接待经历</span>
        </li>
        <li id="lodgeunitLost">
            <span class="select_leasetype "></span>
            <span>没有了房屋的所有权</span>
        </li>
        <li id="lodgeunitOthers">
            <span class="select_leasetype "></span>
            <span>其他原因</span>
        </li>
    </ul>
    <div class="lodgeunitCl"> </div>
    <div id="lodgeunitReasonDesc" class="lodgeunitReasonDescChange"></div>
    <div class="confirmDeleteLodgeunit cursorPointer" id="deleteLodgeunit" lodgeunitId="" route="" style="display: none"><a href="javascript:void(0)">确认永久删除，不再恢复</a></div>
    <div class="btnLine">
        <div id="operateBtnText" route="" style="display: none;cursor: pointer;"></div>
        <div id="cancleDeleteLodgunit" style="margin-left: 230px;cursor: pointer;">取消</div>
    </div>
</div>                        -->
<div class="o_mask" id='mask'  style="display:none;"></div>
<div class="o_warp" id="dialog"  style="display:none;border:none;"></div>
<input type="hidden" value="0" id="houseId"/>
<input type="hidden" value="" id="roomId"/>
<input type="hidden" value="" id="userRole">
<input type="hidden" value="1" id="step">
<input type="hidden" value="Pub_Index" id="action">
<input type="hidden" value="no" id="commercialLandlord">
<input type="hidden" value="" id="luId">


<div class='h_body'>
    <div class="foot_v2">
        <ul class="foot_ul">
            <li><a class="guide" href="https://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=tenant" target="_blank">房客指南</a></li>
            <li><a class="guide icon_fk" href="https://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=landlord" target="_blank">房东指南</a></li>
            <li>
                <span class="guide_T">关于我们</span>
                <a href="https://www.xiaozhu.com/aboutus" target="_blank">关于小猪</a>
                <a href="https://app.mokahr.com/apply/xiaozhu/4514" target="_blank">加入我们</a>
                <a href="https://www.xiaozhu.com/contactus" target="_blank">联系我们</a>
                <a href="https://open.xiaozhu.com" target="_blank">开放平台</a>
            </li>
            <li>
                <span class="guide_T">网站帮助</span>
                <a href="https://www.xiaozhu.com/help/index" target="_blank" >帮助中心</a>
                <a href="https://www.xiaozhu.com/sitemap.html" target="_blank">网站地图</a>
            </li>
            <li class="width_280">
                <span class="guide_T">网站协议</span><br/>
                <a href="https://www.xiaozhu.com/help/service" target="_blank">服务协议</a>
                <a href="https://www.xiaozhu.com/help/landlordRule" target="_blank">房东规则</a>
                <a href="https://www.xiaozhu.com/help/tenantRule" target="_blank">房客规则</a>
                <a href="https://www.xiaozhu.com/help/auditRule" target="_blank">房源上线标准</a>
                <a href="https://www.xiaozhu.com/help/privacy" target="_blank">隐私保护</a>
                <a href="https://www.xiaozhu.com/help/copyright" target="_blank">版权声明</a>
                <a href="https://www.xiaozhu.com/help/disclaimer" target="_blank">免责声明</a>
                <a href="https://www.xiaozhu.com/help/intellectualProperty" target="_blank">知识产权声明</a>
                <a href="https://www.xiaozhu.com/help/commentRule" target="_blank">点评发布规则</a>
                <a href="https://www.xiaozhu.com/help/japanReservationRule" target="_blank">日本标准住宅宿泊仲介业约款</a>
            </li>
            <li class="bigFont online_kf">
                <span class=""   onclick='window.open("https://yiconnect.wezhuiyi.com/chat?t=Cks3pxv2eMBfA3BZvdOhS6Pa1am5fygsIHyQRXc0D7U&uid=144260581897&customer=%7B%22cID%22%3A%22144260581897%22%7D","_blank");' ><i></i>在线客服</span>
                <p>客服电话  400 - 010 - 7890</p>
                <p>客服邮箱  service@xiaozhu.com</p>
            </li>
        </ul>
        <dl class="link_dl">
            <dt>城市导航</dt>
            <dd>
                <a target="_blank" href="//bj.xiaozhu.com/">北京短租房</a>
                <a target="_blank" href="//sh.xiaozhu.com/">上海短租房</a>
                <a target="_blank" href="//nj.xiaozhu.com/">南京短租房</a>
                <a target="_blank" href="//cd.xiaozhu.com/">成都短租房</a>
                <a target="_blank" href="//gz.xiaozhu.com/">广州短租房</a>
                <a target="_blank" href="//cq.xiaozhu.com/">重庆短租房</a>
                <a target="_blank" href="//wh.xiaozhu.com/">武汉短租房</a>
                <a target="_blank" href="//dl.xiaozhu.com/">大连短租房</a>
                <a target="_blank" href="//sanya.xiaozhu.com/">三亚短租房</a>
                <a target="_blank" href="//lijiang.xiaozhu.com/">丽江短租房</a>
                <a target="_blank" href="//tj.xiaozhu.com/">天津短租房</a>
                <a target="_blank" href="//xianggang.xiaozhu.com/">香港短租房</a>
            </dd>
        </dl>
        <dl class="link_dl">
        </dl>
        <div class="foot_btm">
            <a class="record-jump" href="http://beian.miit.gov.cn" target="_blank"  rel="noopener norefferrer">京ICP备12035936号-1</a>
            &nbsp;&nbsp;许可证号：京ICP证140510号 &nbsp;&nbsp;
            <a href="//www.anquan.org/s/www.xiaozhu.com" |="" name="mt8SMvYyRDI92b06nuDs8dPFapllCJYidqhM1WlOoGRZ9DWpbo" rel="nofollow" target="_blank">安全联盟</a>
            &nbsp;&nbsp; 北京快跑信息科技有限公司 &nbsp;&nbsp;
            <a href="https://www.xiaozhu.com/images/yingye.jpg" |="" name="yingyezhizhao" rel="nofollow" target="_blank">营业执照号 103613118</a>
            <span style="display:none">  &nbsp;&nbsp; 地址：北京市海淀区知春路56号   &nbsp;&nbsp;电话：010-62961978</span>
        </div>
        <div style="margin:0 auto;color:#bdc3c7;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020380" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                <p style="display:inline-block;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#bdc3c7;">京公网安备 11010802020380号</p>
            </a>
            &nbsp;&nbsp; 违法和不良信息举报电话：4000107890转6  &nbsp;&nbsp; 举报邮箱：jubao@xiaozhu.com
        </div>
        <div style="margin-top: 20px">
            <a target="cyxyv" href="https://v.yunaq.com/certificate?domain=www.xiaozhu.com&from=label&code=90030" style="margin-right: 10px">
                <img src="https://aqyzmedia.yunaq.com/labels/label_sm_90030.png" style="height: 48px">
            </a>
            <a id="_xinchacharenzheng_cert_vip_kexinweb" style="text-decoration:none;" target="_blank" href="https://xyt.xinchacha.com/pcinfo?sn=448825606222778368&certType=6">
                <img src="https://xyt.xinchacha.com/img/icon/icon3.png" style="height: 48px" >
            </a>
        </div>
    </div>
<div></div>
    <input type="hidden" name="actionName" id="actionName" value="Pub_Index"/>
    <input type="hidden" name="xz_srf_token" id="xz_srf_token" value="c7d30e242ec2b969231c09400c9a65c4"/>

    <script type="text/javascript" src="//jci.xiaozhustatic3.com/e20200803/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="//jci.xiaozhustatic1.com/e20200803/xzjs?k=Footer&httphost=www.xiaozhu.com"></script>
    <link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e20200803/xzcss?css=jquery.mCustomScrollbar,nyroModal,uploadify,shadepage" />
    <script type="text/javascript" src="//jci.xiaozhustatic1.com/e20200803/js/jquery/lazyload.js"></script>
    <script type="text/javascript" src="https://www.xiaozhu.com/e20200803/js/webimv4/application/xzim4.js?source=xiaozhu&dm=xiaozhu.com" id="webimSource"></script>

</div>
<script type="text/javascript" src="//jci.xiaozhustatic1.com/e20200803/xzjs?k=Pub_Index&httphost=www.xiaozhu.com"></script></div>
</div>
</body>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
</html>